body {
    background: rgb(251,63,63);
    background: linear-gradient(216deg, rgba(251,63,63,1) 0%, rgba(152,52,52,1) 14%, rgba(124,40,40,1) 22%, rgba(80,32,106,1) 56%, rgba(56,17,71,1) 62%, rgba(55,8,51,1) 93%);
}


.header{
    display: flex;
    text-underline-offset: 8px;
    text-decoration:underline;
    color:#D3D3D3;
    align-items: flex-start;
    margin-left: 10vw;
    margin-top: 12px;
}